form {
    width: 90%;
    max-width: 500px;
    max-height: 300px;
    height: 90%;
    background-color: rgb(213, 1, 255);
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(138, 60, 153);
  }
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
  }
  
  textarea {
    background-color: #bb5be4;
    border: 2px solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
  }
  
  textarea::placeholder {
    color: #1E1E1F;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  textarea:focus {
    outline-color: #9900ff;
  }
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
  }
  
  .TodoForm-button--add {
    background: 
    #bb5be4;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 6px 3px 3px #733a8b;
    color: #1E1E1F;
  }
  
  .TodoForm-button--cancel {
    background: black;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 6px 3px 3px #3f3e3f;
  }